<%-include('../plantillas/headU.ejs')%>
    <%for(var i = 0; i < data.length; i++){%>
    <div class="row">
        <h1><%=data[i].titulo%></h1>
        <h4>Empresa: <%=data[i].titulo%></h4>
        <p><%=data[i].des%></p>
        <a href="#" class="btn btn-primary"> aplicar </a>
    </div>
    <%}%>
<%-include('../plantillas/fooder.ejs')%>